@import "tailwindcss";

@theme {
  --font-alegreya: "Alegreya", serif;
  --font-baskerville: "Libre Baskerville", serif;
  --font-spacemono: "Space Mono", monospace;
  --font-cutivemono: "Cutive Mono", monospace;
  --font-notoserif: "Noto Serif", serif;
  --font-roboto: "Roboto", sans-serif;
}
